.target {
    border: 2px solid brown;
}

.draggable-demo-cart {
    border: 2px dashed #aaa;
    padding: 5px;
    width: 95%;
    margin: auto;
}

.draggable-demo-shop {
    border: 1px solid yellow;
    width: 100%;
    /* padding: 5px; */
}

.left {
    position: relative;
    border: 2px solid blue;
    float: left;
}


/* 主要的product div */

.product {
    padding: 5px;
    border: 2px solid green;
    width: 80%;
    /* height: 80px; */
    background-color: #fff;
    position: absolute;
    margin: 5px;
}

.product-code,
.product-type {
    background-color: pink;
    width: 30px;
    font-size: 12px;
    display: inline-block;
}

.product-header {
    border: 1px solid black;
    /* border-bottom-width: 0px; */
    width: 50%;
    font-size: 14px;
    padding: 5px;
    text-align: center;
    display: inline-block;
}

.product-price {
    width: 100%;
    text-align: center;
    font-family: Verdana;
    font-size: 11px;
    height: 16px;
    border-top: 1px solid #888;
    border-bottom: 1px solid #fff;
}

.draggable-demo-title {
    font-size: 23px;
    font-family: Verdana;
    text-align: center;
    padding: 7px;
    margin: 5px;
    font-weight: bold;
    border: 1px solid #aaa;
}

.right {
    float: left;
    border: 1px solid red;
    /* width: 100%; */
}

.draggable-demo-total {
    font-size: 17px;
    font-family: Verdana;
    margin: 6px;
    margin-top: 7px;
    padding: 7px;
    display: inline-block;
}


/* type color */

.stock {
    background-color: lightgoldenrodyellow;
}

.debt {
    background-color: plum;
}