.draggable-demo-cart {
    border: 2px dashed #aaa;
    padding: 5px;
    width: 90%;
    margin: auto;
}

.draggable-demo-shop {
    border: 1px solid yellow;
    width: 100%;
    padding: 5px;
}

.left {
    position: relative;
    width: 55%;
    border: 2px solid blue;
    height: 457px;
    float: left;
}

.draggable-demo-product-image {
    width: 150px;
}


/* 主要的div */

.draggable-demo-product-code {
    background-color: pink;
    width: 30px;
    font-size: 12px;
}

.draggable-demo-product {
    padding: 5px;
    border: 2px solid green;
    width: 20%;
    height: 60px;
    background-color: #fff;
    position: absolute;
    margin: 5px;
}

.draggable-demo-product-header {
    border: 1px solid black;
    height: 20px;
    width: 100%;
    /* border-bottom-width: 0px; */
    font-size: 13px;
    position: relative;
    text-align: center;
}

.draggable-demo-product-price {
    position: absolute;
    left: 6px;
    top: 40px;
    width: 150px;
    text-align: center;
    font-family: Verdana;
    font-size: 11px;
    height: 16px;
    border-top: 1px solid #888;
    border-bottom: 1px solid #fff;
}

.draggable-demo-title {
    font-size: 23px;
    font-family: Verdana;
    text-align: center;
    padding: 7px;
    margin: 5px;
    font-weight: bold;
    border: 1px solid #aaa;
}

.right {
    float: left;
    border: 1px solid red;
    height: 457px;
    width: 40%;
}

.draggable-demo-total {
    font-size: 17px;
    font-family: Verdana;
    margin: 6px;
    margin-top: 7px;
    padding: 7px;
}